<footer>

	<!-- Grid container -->
	{#<div class="container pt-4">
		<section class="mb-4">
			 <div class="row">
				<div class="col-4 ">
					<a href="#" class="">
						<h6>Accueil</h6>
					</a>
					<a href="" class="">
						<h6>Réalisations</h6>
					</a>
				</div>

				<div class="col-4">
					<a href="" class="">
						<h6>Mon compte</h6>
					</a>
					<a href="" class="">
						<h6>Contact</h6>
					</a>

				</div>
				<div class="col-4">
					<a href="" class="">
						<h6>Conditions générals de ventes</h6>
					</a>
					<a href="" class="">
						<h6>Mentions légales</h6>
					</a>
				</div>
			</div>
		</section>
		<!-- Section: Social media -->
		<section
			class="mb-4">
			<!-- Facebook -->
			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
				<i class="fab fa-facebook-f"></i>
			</a>

			<!-- Twitter -->
			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
				<i class="fab fa-twitter"></i>
			</a>

			<!-- Google -->
			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
				<i class="fab fa-google"></i>
			</a>

			<!-- Instagram -->
			<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
				<i class="fab fa-instagram"></i>
			</a>


			<!-- Section: Social media -->
		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2020 Copyright:

			<a class="text-dark" href="/">
				Club Recettes</a>
		</div>
		<!-- Copyright --> 

	</section>#}
</footer>
