<footer>
	<div class="bg-warning text-center ">
		
			<img src={{ asset('images/LogoClubRecettesFooter.png') }} class="LogoFooteer" alt="Logo">
		
		<a href="">
			<p>Mention légale</p>
		</a>
		<p>&copy; 2023 Recettes Club. Tous droits réservés.</p>
	</div>
</footer>
