body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Balthazar,Arial,sans-serif;   
    height: 100vh;
    width: 100vw;
}

a,a:hover,a:focus{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
h1{
    font-size: 2rem;
    font-weight: bold;
}
h2{
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}
nav:first-of-type{
    height: 35vh !important;
}
li
{
    font-size: 1.3rem;
    cursor: pointer;
}

nav:last-of-type{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0 10px;
} 
.menu-items {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    list-style-type: none;
    margin: auto;
  }
  
.menu-items li {
    margin-right: 20px;
    padding-left: 20px;
    border-left: 1px solid black;
   cursor:pointer;
  }

.LogoClubRecettes{
    height: 130px;
    width: 130px;
    margin-bottom: 20px;
}
.LogoFooteer
{
    height: 80px;
    width: 80px;
}
/***** page login*****/
.formLogin{
    width: 50% !important;
}
/******* page showRecipe ********/
.recipePicture{
    object-fit: cover;
    object-position: center;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 14%;
    }
.recipShowDetails{
    font-size: 1.8rem;
    font-weight: bolder;
}
.title2{
  
        font-size: 1.5rem;
        font-weight: bolder;
    width: 420px;
}
.divIngredients,.divDescription{
    margin-left: 12%;}
hr{
    width: 550px !important;
    height: 0 !important;
    border: 2px solid #EFB73E !important;}
.card-img-top{height: 350px !important; }

/* page d'accueil*/
.card
{  width: 30rem;}

.card_w
{ width: 30% !important;}

.hrAccueil{
    width: 250px;
    height: 0 ;
    border: 2px solid #EFB73E;
}

.publicRecipe{
    width: 30% !important;
}
/* show.recip */

nav:first-of-type{
        height : 83px !important;
}
/* 
    .infoRecipeDiv{
        border: 1px solid black !important;
    } */
.avatar{
    /* border: 1px solid red !important; */
    height: 50px !important;
    width: 50px !important;;
}
.vich_image
{
    /* border: 1px solid red !important; */
    height: 500px !important;
    width: 500px !important;
}

  .btn-primary {
    color: #fff !important;
    background-color: #ff615a !important;
    border-color: #ff615a !important;
  }


  /*********  Mobile **********/

  @media screen and  (min-width: 280px) and (max-width: 800px){
    
    /******Nav Bar********/
    nav:first-of-type
    {
     height: 260px !important;
    }
    /*** logo ******/
    .LogoClubRecettes
    {
     height: 150px !important;
     width: 150px !important;
    }

    /*** login ****/
    .formLogin{
        width: 75% !important;
    }

     /***** Detail recipe *****/
     .infoRecipe{
        flex-direction: column;
     }
     .infoRecipe > div {
        width: 100%; 
     }
     h1{
        font-size: 1.3rem;
        /* font-weight: bold; */
    }
   
     h2{
        font-size: 1rem;
     }
 
    }