{% extends 'base.html.twig' %}

{% block title %}Recettes Club  - Inscription
{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
	<div class="container w-50">
		<h1 class="mt-4">
		Rejoignez la communauté RECETTES CLUB
		</h1>

		{{ form_start(form) }}
		{{ form_widget(form)}}
		{{ form_end(form)}}

	</div>
{% endblock %}
